name: Pull Request

on:
  pull_request:

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUST_BACKTRACE: 1

jobs:
  validate-rust:
    name: Validate Rust
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      - id: validate-rust
        uses: ./.github/actions/validate-rust
        with:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  check-dependencies:
    name: Check Rust Dependencies
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories
          - bans licenses sources
    # NOTE: Prevent sudden announcement of a new advisory from failing ci
    continue-on-error: ${{ matrix.checks == 'advisories' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      - uses: EmbarkStudios/cargo-deny-action@34899fc7ba81ca6268d5947a7a16b4649013fea1 #v2.0.11
        with:
          command: check ${{ matrix.checks }}

  validate-drivers:
    runs-on: ubuntu-latest
    name: Validate Python
    strategy:
      matrix:
        projects: ["drivers/hypha-accelerate-driver", "drivers/aim-driver"]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      - id: validate-python-uv
        uses: ./.github/actions/validate-python-uv
        with:
          project-path: ${{ matrix.projects }}
